[submodule "Awesome_Prompts_Repo"]
	path = Awesome_Prompts_Repo
	url =https://github.com/f/awesome-chatgpt-prompts
[submodule "kalistamp_GPT"]
	path = kalistamp_GPT
	url = https://github.com/kalistamp/GPT
[submodule "BlackFriday_gpt_prompts"]
	path = BlackFriday_gpt_prompts
	url = https://github.com/friuns2/BlackFriday-GPTs-Prompts



# This guy jailbreaks alot:

# https://github.com/elder-plinius

# https://github.com/elder-plinius/L1B3RT45/tree/main

# https://huggingface.co/collections/failspy/abliterated-v3-664a8ad0db255eefa7d0012b
[submodule "GPT"]
	path = GPT
	url = https://github.com/kalistamp/GPT
[submodule "BlackFriday-GPTs-Prompts"]
	path = BlackFriday-GPTs-Prompts
	url = https://github.com/friuns2/BlackFriday-GPTs-Prompts
