[submodule "Awesome_Prompts_Repo"]
	path = Awesome_Prompts_Repo
	url =https://github.com/f/awesome-chatgpt-prompts
[submodule "kalistamp_GPT"]
	path = kalistamp_GPT
	url = https://github.com/kalistamp/GPT
[submodule "BlackFriday_gpt_prompts"]
	path = BlackFriday_gpt_prompts
	url = https://github.com/friuns2/BlackFriday-GPTs-Prompts
[submodule "GPT"]
	path = GPT
	url = https://github.com/kalistamp/GPT
[submodule "BlackFriday-GPTs-Prompts"]
	path = BlackFriday-GPTs-Prompts
	url = https://github.com/friuns2/BlackFriday-GPTs-Prompts
[submodule "L1B3RT45"]
	path = L1B3RT45
	url = https://github.com/elder-plinius/L1B3RT45/
[submodule "red-instruct"]
	path = red-instruct
	url = https://github.com/declare-lab/red-instruct/
[submodule "ai-privacy-guide"]
	path = ai-privacy-guide
	url = https://github.com/iAnonymous3000/ai-privacy-guide
[submodule "openai-cookbook"]
	path = openai-cookbook
	url = https://github.com/openai/openai-cookbook
