[submodule "Awesome_Prompts_Repo"]
	path = Awesome Prompts Repo
	url = https://github.com/f/awesome-chatgpt-prompts
[submodule "kalistamp_GPT"]
	path = kalistamp_GPT
	url = https://github.com/kalistamp/GPT
[submodule "BlackFriday_gpt_prompts"]
	path = BlackFriday_gpt_prompts
	url = https://github.com/friuns2/BlackFriday-GPTs-Prompts
